<div class = "container">
<p id="notice"><%= notice %></p>

<h1>States</h1>

<div class="row">
  <div class="col-sm-4"><strong>State Name</strong></div>
  <div class="col-sm-8"><strong>State URL</strong></div>
</div>

<% @states.each do |state| %>
  <div class="row">
    <div class="col-sm-4"><%= link_to state.state_name, {:action => 'show', :id => state.id} -%></div>
    <div class="col-sm-8"><%= link_to @state_url, state.state_url %></div>
  </div>
<% end %>
<br>
</div>