<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Snow Forecast</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/states">States</a></li>
      <li><a href="/resorts">Resorts</a></li>
    </ul>
  </div>
</nav>

<div class = "container">
<p id="notice"><%= notice %></p>

<h1>States</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>State Name</th>
      <th>State URL</th>
    </tr>
  </thead>
  <tbody>
  <% @states.each do |state| %>
    <tr>
      <td><%= link_to state.state_name, {:action => 'show', :id => state.id} -%></td>
      <td><%= link_to state.state_url, state.state_url %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
</div>